# Ignore node_modules directory
node_modules/

# Ignore Next.js build directory
.next/

# Ignore yarn lock file
yarn.lock

# Ignore environment-specific files
next-env.d.ts

# Ignore any local development environment files
# Example files:
# README.md
# styles.module.css

# Ignore IDE or editor-specific files
# Example files:
# .vscode/
# .idea/

# Ignore npm debug log file
npm-debug.log*

# Ignore yarn error log files
yarn-error.log*

# Ignore any other files specific to your development setup
# Add other specific files or directories here
